*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: var(--rich-black-fogra-29-1);
    color: var(--silver-metallic);
    background-image: url(../images/classes-bg.png);
}


:root {
    --rich-black-fogra-29_50: hsl(210, 26%, 11%, 0.5);
    --rich-black-fogra-29-1: hsl(210, 26%, 11%);
    --rich-black-fogra-29-2: hsl(210, 50%, 4%);
    --silver-metallic: hsl(212, 9%, 67%);
    --coquelicot_20: hsla(12, 98%, 52%, 0.2);
    --coquelicot_10: hsla(12, 98%, 52%, 0.1);
    --sonic-silver: hsl(0, 0%, 47%);
    --cadet-gray: hsl(214, 15%, 62%);
    --light-gray: hsl(0, 0%, 80%);
    --coquelicot: hsl(202, 98%, 52%);
    --gainsboro: hsl(0, 0%, 88%);
    --white_20: hsl(0, 0%, 100%, 0.2);
    --white_10: hsl(0, 0%, 100%, 0.1);
    --black_10: hsl(0, 0%, 0%, 0.1);
    --white: hsl(0, 0%, 100%);
    --ff-catamaran: 'Catamaran', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;
    --fs-1: 3.8rem;
    --fs-2: 3rem;
    --fs-3: 2.5rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;
    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-500: 500;
    --section-padding: 80px;
    --shadow-1: 0 0 20pxvar(--black_10);
    --shadow-2: 0px 10px 24pxvar(--coquelicot_20);
    --radius-10: 10px;
    --radius-8: 8px;
    --radius-5: 5px;
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }
  
.about img {
    height: auto;
    width: 420px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: #f9004d;
}

.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}


@media screen and (max-width: 640px) {
    .features{
        background-color: var(--rich-black-fogra-29-1);
        color: var(--silver-metallic);
        background-image: url(../images/classes-bg.png);
        
    }

    *{
        padding: 0;
        margin: 0;
        font-family: 'josefin' sans, fangsong;
        box-sizing: border-box;
        flex-direction: column-reverse;
    }

    .about-text h5{
        color: white;
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 50px;
        letter-spacing: 2px;
        text-align: center;
    }

    .about-text p {
        color: white;
        letter-spacing: 2px;
        line-height: 20px;
        font-size: 15px;
        margin-bottom: 45px;
        text-align: center;
    }

    .about img {
        height: auto;
        width: 200px;
    }

    .about-text h1{
        color: white;
        font-size: 65px;
        text-transform: capitalize;
        margin-bottom: 20px;
        text-align: center;
    }

    .about-text{
        width: 360px;
    }

    }