

-------

{
  margin: 0;
  padding: 0%;
}

body{
  background-color: #4da6ff;
}

.container{
  width: 80%;
  margin: 80px auto;
}

.container h1 {
  padding: 60px 0;
  color: #000000;
  font-size: 44px;
  text-align: center;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: revert;
  flex-wrap: wrap;
}

.col {
  flex-basis: 50%;
  min-width: 250px;
}

.feature-img{
  width: 83%;
  margin: auto;
  position:relative;
  border-radius: 6px;
  overflow: hidden;
}

.small-img-row{
  display: flex;
  background: #efefef;
  margin: 20px 0;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 85%;
}

.small-img{
  position:relative;
}

.small-img img{
  width: 150px;
}

.small-img-row p{
  margin-left: 20px;
  color: #707070;
  line-height: 22px;
  font-size: 15px;
}

.play-btn{
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.small-img .play-btn{
  width: 35px;
}

.video-player{
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

video:focus{
  outline: none;
}

.close-btn{
  position: absolute;
  top: 50px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

* {

  margin: 0px;

  padding: 0px;

  box-sizing: border-box;

}

.body-text {

  display: flex;

  font-family: "Montserrat", sans-serif;

  align-items: center;

  justify-content: center;

  margin-top: 250px;

}

nav {

  display: flex;

  justify-content: space-around;

  align-items: center;

  min-height: 8vh;

  background-color: black;

  font-family: "Montserrat", sans-serif;

}

.heading {

  color: white;

  text-transform: uppercase;

  letter-spacing: 5px;

  font-size: 20px;

}

.nav-links {

  display: flex;

  justify-content: space-around;

  width: 30%;

}

.nav-links li {

  list-style: none;

}

.nav-links a {

  color: white;

  text-decoration: none;

  letter-spacing: 3px;

  font-weight: bold;

  font-size: 14px;

  padding: 14px 16px;

}

.nav-links a:hover:not(.active) {

  background-color: #63a7e4;

}

.nav-links li a.active {

  background-color: #63a7e4;

}


/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 640px) {
.features{
  background-color: #4da6ff;
}

.small-img-row{
   display: flex;
   flex-direction: column-reverse;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: revert;
    flex-wrap: nowrap;
}

.small-img-row p{
  margin-left: 5px;
  color: #707070;
  line-height: 30px;
  font-size: 10px;
}

.heading {
  
  color: white;

  text-transform: uppercase;

  letter-spacing: 2px;

  font-size: 13px;
}

.nav-links a {

  color: white;

  text-decoration: none;

  letter-spacing: 1px;

  font-weight: bold;

  font-size: 15px;

  padding: 10px 8px;

}

nav {

  display: flex;

  flex-direction: column-reverse;

  justify-content: space-between;

  align-items: center;

  min-height: 10vh;

  background-color: black;

  font-family: "Montserrat", sans-serif;

}

.heading {

  color: white;

  text-transform: uppercase;

  letter-spacing: 1px;

  font-size: 20px;

}

}