*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.bg-dark {
    background-color: var(--rich-black-fogra-29-1);
    color: var(--silver-metallic);
}

:root {
    --rich-black-fogra-29_50: hsl(210, 26%, 11%, 0.5);
    --rich-black-fogra-29-1: hsl(210, 26%, 11%);
    --rich-black-fogra-29-2: hsl(210, 50%, 4%);
    --silver-metallic: hsl(212, 9%, 67%);
    --coquelicot_20: hsla(12, 98%, 52%, 0.2);
    --coquelicot_10: hsla(12, 98%, 52%, 0.1);
    --sonic-silver: hsl(0, 0%, 47%);
    --cadet-gray: hsl(214, 15%, 62%);
    --light-gray: hsl(0, 0%, 80%);
    --coquelicot: hsl(202, 98%, 52%);
    --gainsboro: hsl(0, 0%, 88%);
    --white_20: hsl(0, 0%, 100%, 0.2);
    --white_10: hsl(0, 0%, 100%, 0.1);
    --black_10: hsl(0, 0%, 0%, 0.1);
    --white: hsl(0, 0%, 100%);
    --ff-catamaran: 'Catamaran', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;
    --fs-1: 3.8rem;
    --fs-2: 3rem;
    --fs-3: 2.5rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;
    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-500: 500;
    --section-padding: 80px;
    --shadow-1: 0 0 20pxvar(--black_10);
    --shadow-2: 0px 10px 24pxvar(--coquelicot_20);
    --radius-10: 10px;
    --radius-8: 8px;
    --radius-5: 5px;
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}
html {
    font-family: var(--ff-rubik);
    font-size: 14px;
    scroll-behavior: smooth;
}

.has-scrollbar::-webkit-scrollbar {
    height: 10px;
}
::-webkit-scrollbar {
    width: 5px;
}
.has-scrollbar::-webkit-scrollbar-button {
    width: calc(25% - 25px);
}
.has-scrollbar::-webkit-scrollbar-track, .has-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--coquelicot);
}
.has-scrollbar::-webkit-scrollbar-track, .has-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 50px;
}
::-webkit-scrollbar-track {
    background-color: var(--light-gray);
}

.class .section-subtitle {
    margin-inline: auto;
}

.section-subtitle {
    background-color: var(--coquelicot_10);
    color: var(--coquelicot);
    padding: 8px 20px;
    border-radius: var(--radius-8);
}
.hero-subtitle, .section-subtitle {
    font-family: var(--ff-catamaran);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    max-width: max-content;
}

.h1, .h2, .h3 {
    font-family: var(--ff-catamaran);
    line-height: 1.25;
}

.has-bg-image {
    background-repeat: no-repeat;
    background-position: top left;
}
.bg-dark {
    background-color: var(--rich-black-fogra-29-1);
    color: var(--silver-metallic);
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

img {
    height: auto;
}

.class-card .card-content {
    padding: 80px;
    width: 80%;
}

.class .section-title {
    color: var(--white);
}
.text-center {
    text-align: center;
}
.section-title {
    margin-block: 18px 35px;
}

.h2 {
    font-size: var(--fs-2);
}


.class-card .card-text {
    color: var(--sonic-silver);
    font-size: var(--fs-6);
    margin-block: 16px 12px;
    text-align: -webkit-left;
}

.scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
  }

.has-scrollbar {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-x: visible;
    padding-block-end: 30px;
    scroll-snap-type: inline mandatory;
    width: 100%;
    text-align: -webkit-center;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/


a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: -webkit-center;
}



.class-card .title-icon {
    padding-inline-end: 20px;
    margin-inline-end: 20px;
    min-width: max-content;
    border-inline-end: 1px solid var(--gainsboro);
}

.class-card {
    background-color: var(--white);
    border-radius: var(--radius-10);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 80%;
}

element.style {
    --width: 416;
    --height: 240;
}
.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-gray);
    overflow: hidden;
    width: 45%;
}

style attribute {
    --width: 416;
    --height: 240;
}

.class-card .title-wrapper {
    display: flex;
    align-items: center;
}
